* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/sfondo.jpg");
    background-size: cover;
}

main {
    font-family: 'Inter', sans-serif;
}

header {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 350px;
    background-image: url("img/copertina.jpg");
    background-size: cover;
    border: 7px solid white;
    text-align: center;
    margin-top: 30px;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    border: 5px solid white;
    font-size: 70px;
    padding: 20px;

}

header h2 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.menu {
    width: 100%;
    height: 40px;
    width: 1000px;
    margin: auto;
    padding-top: 9px;
    background-color: #666666;
}

ul {
    text-align: center;
}

ul li {
    font-size: 13px;
    display: inline;
    color: white;
    padding: 10px;
    list-style-type: none;
}
